<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Głosowanie na cytat roku</title>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<h1>Głosowanie - Wybierz najlepszy cytat</h1>
<form action="/result" method="POST">
<div th:each="instance,iter : ${data}">
     <input type="radio" name="quote" th:value="${instance.quote}" th:checked="(${iter.index} == 0)"/><span th:text="${instance.quote}"></span><br></br>
</div>
	<input type="submit" value="Zagłosuj"/>
</form>
</body>
</html>